@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sacramento');

$spacing-medium: 1.6rem;
$spacing-small: $spacing-medium*0.5;
$spacing-smedium: $spacing-medium*0.707;
$spacing-large: $spacing-medium*2;
$spacing-xlarge: $spacing-medium*4;
$spacing-xxlarge: $spacing-medium*8;
$box-size: $spacing-xxlarge;


// $color-text: #404646;

// html {
//   font-size: 14.5px;
// }

// body {
//   font-family: 'Open Sans', sans-serif;
//   line-height: 1.45em;
//   background-color: #f0f0f0;
//   color: $color-text;
// }

// * {
//   box-sizing: border-box;
// }
.main-container {
  margin: $spacing-medium $spacing-small;
}

.grid-container {
  margin: auto;
  display: grid;
  grid-gap: $spacing-smedium;
  grid-template-columns: repeat(auto-fit, $box-size);
  grid-auto-rows: $box-size;
  grid-auto-flow: dense;
  justify-content: center;
  max-width: 75em;
}

.card {
  grid-row: auto / span 1;
  grid-column: auto / span 1;
  background-color: white;
  box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
 
 
  h1, h2, h3, h4, p {
    margin-top: 0;
    font-weight: normal;
  }
  &__image {
    height: 100%;
    max-height: 100%;
    width: 100%;
    display: flex;

    &:hover img {
      filter: brightness(30%);
    }
    .inner-content {
      font-size: 2rem;
      font-weight: 300;
      opacity: 0;
      transform: translateX(-50%) translateY(-50%);
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all 600ms ease;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    &:hover .inner-content {
      opacity: 1;
    }

    img {
      height: 100%;
      min-height: 100%;
      max-height: 100%;
      width: 100%;
      object-fit: cover;
      vertical-align: middle;
      
    }
  }
  &__side-by-side {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  
    &--m {
      height: 100%;
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      img {
        min-height: auto;
      }
    }
  }
  &__content {
    padding: $spacing-medium;
  }
  &__button {
    margin: $spacing-medium 0;
    text-align: center;
    padding: $spacing-small $spacing-medium;
    background: none;
    border: 0.5px solid #777;
    border-radius: 2px;
    &:hover {
      border-color: #d099a0;
    }
  }
  &--featured {
    grid-row: auto / span 3;
    grid-column: auto / span 2;
  }
  &--2x {
    grid-row: auto / span 2;
    grid-column: auto / span 2;
    
  }
  &--vertical {
    grid-row: auto / span 2;
  }
  &--horizontal {
    grid-column: auto / span 2;
  }
  &--frameless {
    background-color: transparent;
    box-shadow: none;
  }
}

.padding {
  &-large {
    padding: $spacing-large;
    &--l {
      padding: $spacing-medium;
    }
  }
}

.big-script {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: 'Sacramento', sans-serif;
  font-size: 4.3em;
  line-height: 1.15em;
  text-align: center;
  p {
    margin: 0;
  }
}

@media (max-width: 413px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
  .card {
    min-height: $box-size;
  }
}

@media (min-width: 627px) {
  .grid-container {
    grid-gap: $spacing-medium;
  }
  .card {
    &__side-by-side--m {
      flex-flow: row nowrap;
      img {
        min-height: 100%;
     
      }
    }
    &--featured {
      grid-row: auto / span 2;
      grid-column: 1 / -1;
    }
  }
}

@media (min-width: 836px) {
  .padding-large--l {
    padding: $spacing-large;
  }
}
