<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>
</head>
<script async src="https://docs.opencv.org/3.4/opencv.js"></script>
<!--script async src="./opencv.js"></script-->
<body>
	<video id="videoInput" style="display:none"></video>
  <canvas id="videoOutput"></canvas>
  <button onclick=stream()>Send</button>
  <canvas id="testt" width="300" height="200" style="border: 1px solid red"></canvas>
  <div id="status">
    Connection failed. Somebody may be using the socket.
  </div>
  <video id=""video></video>
</body>
<script>
  
  var w = 640, h = 480;
	var url = "/websocket"
	var ws = new WebSocket(url);
  let testt = document.getElementById("testt");
  testt.width = w;
  testt.height = h;
  ws.addEventListener('open', (e) => {
    // console.log('ㅇㅇㅇㅇㄹㄴㅇㅁㄹㄴㅁ래제머ㅏ레ㅐㅈ머')
    document.getElementById("status").innerHTML = "Opened";
  });

  ws.addEventListener('message', (e) => {
    console.log(e.data)
    let ctx = testt.getContext("2d");
    let image = new Image();
    // URL.revokeObjectURL( oldObjectUrl );
    try {
    image.src = URL.createObjectURL(e.data);
    
    }
    catch {
      // console.log('여기로?')
      image.srcObject = e.data
    }
    console.log(image)
    image.addEventListener("load", (e) => {
        // console.log('들어옴ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ')
        ctx.drawImage(image, 0, 0, testt.width, testt.height);
    });
  });


	ws.onopen = function(){
		console.log("Websocket is connected.");
   
	}
  

	navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
  var constraints = {audio: false, video: true};
  var video = document.getElementById("videoInput");
  video.width = w;
  video.height = h;
  function successCallback(stream){
    console.log('엥들어옴')
  	video.srcObject = stream;
  	video.play();
  }
  
  function errorCallback(error){
   	console.log(error);
  }
  navigator.getUserMedia(constraints, successCallback, errorCallback);
	var canvas = document.getElementById("videoOutput");
  canvas.width = w;
  canvas.height = h;
  var ctx = canvas.getContext("2d");
  function processImage(){
        ctx.drawImage(video, 0, 0, w, h);
        setTimeout(processImage, 1);
  }
  processImage();

  function stream(){
    setInterval(sendImage, 200);
  }

  function sendImage(){
    var rawData = canvas.toDataURL("image/jpeg", 1.0);
    // console.log(rawData)
    ws.send(rawData)
    // ws.send(rawData);
  }





  
</script>
</html>